- how  to declare dictionary in different ways 
- how to access  key and values of dictionary 
- how to use loop in dictionary
- nested dictionary

In [3]:
student = {
    "name" : "shiva",
    "class": "12th",
    "roll_no": 2,
    "age": 17
}
print(student)

{'name': 'shiva', 'class': '12th', 'roll_no': 2, 'age': 17}

In [4]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [30,35,40],
    'chennai' : [28,38,37],
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [28, 38, 37]}

In [5]:
info = dict(name = 'john', age = 17, roll_no = 2, class_ = '12th')
print(info)

{'name': 'john', 'age': 17, 'roll_no': 2, 'class_': '12th'}

In [6]:
info2 = dict(
    name = input("enter your name:"),
    age=int(input("enter your age:")),
    roll_no=int(input("enter your roll_no:")),
    class_=input("enter your class:")
)
print(info2)

{'name': 'shiva', 'age': 20, 'roll_no': 2, 'class_': '12'}

In [7]:
# 1st method to access the value of a key
print(student['name'])
print(temp['lucknow'])

shiva
[25, 30, 35]

In [8]:
# 2nd method to access the value of a key
print(student.get('age'))
print(info2.get('roll_no'))

17
2

In [9]:
# To add item in a dictionary
student['city'] = 'lucknow'
student['school'] = 'APS'
print(student)

{'name': 'shiva', 'class': '12th', 'roll_no': 2, 'age': 17, 'city': 'lucknow', 'school': 'APS'}

In [10]:
# To remove a item in a dictionary
student.pop('school')
print(student)

{'name': 'shiva', 'class': '12th', 'roll_no': 2, 'age': 17, 'city': 'lucknow'}

In [11]:
# Using dell method 
del student['roll_no']
print(student)

{'name': 'shiva', 'class': '12th', 'age': 17, 'city': 'lucknow'}

In [12]:
for k in info:
    print(k)

name
age
roll_no
class_

In [13]:
for k,v in info2.items():
    print(f"{k} : {v}")

name : shiva
age : 20
roll_no : 2
class_ : 12

In [14]:
print(student.values())
print(student.keys())
print(student.items())

dict_values(['shiva', '12th', 17, 'lucknow'])
dict_keys(['name', 'class', 'age', 'city'])
dict_items([('name', 'shiva'), ('class', '12th'), ('age', 17), ('city', 'lucknow')])

In [15]:
company = {
    'emp001' : {'name':'john', 'age':25, 'dept':'HR', 'salary':250000},
    'emp002' : {'name':'Emma', 'age':30, 'dept':'Finance', 'salary':300000},
    'emp003' : {'name':'Linda', 'age':35, 'dept':'IT', 'salary':350000},
    'emp004' : {'name':'ayushi', 'age':40, 'dept':'Admin', 'salary':400000},
}
print(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 250000}, 'emp002': {'name': 'Emma', 'age': 30, 'dept': 'Finance', 'salary': 300000}, 'emp003': {'name': 'Linda', 'age': 35, 'dept': 'IT', 'salary': 350000}, 'emp004': {'name': 'ayushi', 'age': 40, 'dept': 'Admin', 'salary': 400000}}

In [16]:
from pprint import pp

In [17]:
pp(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 250000},
 'emp002': {'name': 'Emma', 'age': 30, 'dept': 'Finance', 'salary': 300000},
 'emp003': {'name': 'Linda', 'age': 35, 'dept': 'IT', 'salary': 350000},
 'emp004': {'name': 'ayushi', 'age': 40, 'dept': 'Admin', 'salary': 400000}}

In [18]:
print(company['emp002'])

{'name': 'Emma', 'age': 30, 'dept': 'Finance', 'salary': 300000}

In [19]:
print(company['emp002']['dept'])

Finance

In [20]:
print(company['emp004']['age'])

40

In [21]:
company['emp005']={'name': 'shivam', 'age': 50, 'dept': 'Cuatomer', 'salary': 450000}
pp(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 250000},
 'emp002': {'name': 'Emma', 'age': 30, 'dept': 'Finance', 'salary': 300000},
 'emp003': {'name': 'Linda', 'age': 35, 'dept': 'IT', 'salary': 350000},
 'emp004': {'name': 'ayushi', 'age': 40, 'dept': 'Admin', 'salary': 400000},
 'emp005': {'name': 'shivam', 'age': 50, 'dept': 'Cuatomer', 'salary': 450000}}

In [22]:
# indexing in dictionary
print(temp['lucknow'][0])
print(temp['delhi'][2])

25
40

In [23]:
print("average temp in delhi is:", sum(temp['delhi'])/len(temp['delhi']))

average temp in delhi is: 35.0